.hidden {
	display: none;
}

html {
	background-color: black;
	color: white;
}

hr {
	color: white;
}

body {
	text-align: center;
}

main {
	margin: 0 auto;
	width: 90%;
}

h1,
h2 {
	margin: 0;
}

#buttonSec {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.indFight {
	padding: 5px;
	border: 1px solid white;
}

.comparisonBox {
	text-align: center;
}

.compareBoxes {
	display: flex;
	justify-content: center;
}

.compareBoxes div {
	padding: 10px;
	border: 1px solid white;
	margin: 5px;
}

#fList {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 5px;
}
